<div class="container mt-3">
  <div class="row text-center">
    <div class="col-md-4">
      <a href="/check" class="btn btn-dark">Cek Tanaman Sendiri</a>
    </div>
    <div class="col-md-4">
      <h2 class="fw-bold">DAFTAR TANAMAN</h2>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    <% plants.forEach(plant => { %>
    <div class="col">
      <div class="card text-light bg-dark mb-3 center">
        <img src="/images/<%=plant.tanaman || plant.gambar%>.png" class="card-img-top rounded float-start" alt="tanaman" />
        <div class="card-body">
          <h4 class="card-title"><%= plant.tanaman.toUpperCase() %></h4>
          <h5 class="card=subtitle md-2 text-muted"><%= plant.ilmiah %></h5>
          <p class="card-text">Curah Hujan : <%= plant.chBB%> - <%= plant.chBA %> mm / Bulan</p>
          <p class="card-text">Suhu Udara : <%= plant.suBB%> - <%= plant.suBA %> °C / Bulan</p>
          <p class="card-text">masa tanam : <%= plant.masaTanam%> Bulan</p>
          <a href="/katam/<%= plant._id %>" class="btn btn-light">Cek Kalender Tanam</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
